<div class="menu">
  <a href="/" class="link">首页</a>
  <a href="https://wiki.mineraltown.net/" class="link">百科</a>
  <a href="https://github.com/mineraltown" target="_blank" class="link">开源</a>
  <a href="/community.html" class="link">社区</a>
  <a href="/disclaimer.html" class="link">免责声明</a>
  <a href="/about.html" class="link">关于本站</a>
</div>
